<li>
  <div class="commentText">
    <p class="shadow red"><span class="glyphicon glyphicon-user black"> </span> {{#if comment.user}}{{comment.user}}{{else}}Anonymous{{/if}}:</p>
    <p>{{comment.body}}</p> <span class="date sub-text">on {{comment.date}}</span>
  </div>
</li>
<hr>
